.k-search li .k-link {
  display: flex;
}

.k-search li .k-icon {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
}

.k-search li .k-image {
  margin-right: 1rem;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.k-search-more {
  background: var(--color-text);
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}.k-search-view-term {
  font-weight: 300;
}